# Prerequisites
*.d

# makefiles
MakeFile


# Compiled Object files
*.slo
*.lo
*.o
*.dll
*.a
*.lib
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Tree generate files
log/
views/_src/*
lib/*
Makefile
db/
tmp/

# QT MOC Files
moc_*.cpp
