<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title data-tf="@head_title"></title>
  <link rel="stylesheet" href="/modules/editor.md/css/editormd.min.css" />
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>
<body>
<p style="color: red" data-tf="@error_msg"></p>
<p style="color: green" data-tf="@notice_msg"></p>

<div class="container">
  <h1>修改博客内容</h1>
</div>

<div class="container-fluid">

  <form  method="post" data-tf="@edit_form">
    <div class="form-group">
      <label>编号 </label>
      <input class="form-control" data-tf="@id" />
    </div>
    <div>
      <label>标题</label>
      <input class="form-control" data-tf="@title" />
    </div>
    <div>
      <label>正文 </label>
      <div id="layout">
        <div id="blog-content">
          <textarea class="form-control" style="display:none" data-tf="@body"  rows="10"></textarea>
        </div>
      </div>
    </div>
    <div class="btn-group">
      <input  class="btn btn-primary" type="submit" value="保存" />
      <a class="btn btn-info" href="#" data-tf="@link_to_show">Show</a> 
      <a class="btn btn-light" href="#" data-tf="@link_to_index">Back</a>
    </div>
  </form>
</div>

<script src="/js/bootstrap/jquery-3.3.1.min.js"  ></script>
<script src="/modules/editor.md/editormd.min.js"></script>   
<script src="/js/bootstrap/popper.min.js"  ></script>
<script src="/js//bootstrap/bootstrap.min.js"  ></script>
<script>
   var testEditor;
  $(function() {
          testEditor = editormd("blog-content", {
          width: "100%",
          height: 560,
          path : '/modules/editor.md/lib/',
          theme : "dark",
          previewTheme : "dark",
          editorTheme : "pastel-on-dark",
          codeFold : true,
          //syncScrolling : false,
          saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
          searchReplace : true,
          //watch : false,                // 关闭实时预览
          htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启    
          //toolbar  : false,             //关闭工具栏
          //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
          emoji : true,
          taskList : true,
          tocm            : true,         // Using [TOCM]
          tocDropdown:true,             // for ToC dropdown menu btn
          tex : true,                   // 开启科学公式TeX语言支持，默认关闭
          flowChart : true,             // 开启流程图支持，默认关闭
          sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
          //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
          //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
          //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
          //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
          //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
          imageUpload : true,
          imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
          imageUploadURL : "./php/upload.php",
      });
    });
</script>
</body>
</html>
