<html>
  <header>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title data-tf="@head_title"></title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
  </header>
  <body>
    <h1>javascript工具</h1>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <p data-tf="@notice_msg" id="notice_msg"></p>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form data-tf="@entry_login" method="post">
      <div class="form-group">
        <label for="transfertype">方法: </label>
        <select class="form-control" name="jstools[type]" id="transfertype">
          <option value="download">base64->文件</option>
          <option value="tobase64">文件-->base64</option>
          <option value="texttobase64">base64加密</option>
          <option value="base64totext">base64解密</option>
        </select>
      </div>
      <div class="form-group">
        <label for="filename">文件名：</label>
        <input
          type="text"
          class="form-control adjust-item"
          name="jstools[filename]"
          id="filename"
        />
        <input
          type="file"
          class="form-control-file adjust-item"
          name="openfile"
          id="fileopen"
        />
      </div>
      <div class="form-group">
          <label for="inputtext">待加密文本：</label>
          <textarea name="" id="inputtext" cols="100" rows="20" class="form-control adjust-item" ></textarea>
      </div>
      <div class="form-group">
        <label for="InputUsename1 adjust-item">base64文本: </label>
        <textarea
          id="inputUseName1"
          class="form-control"
          rows="20"
          cols="100"
          name="jstools[base64]"
          placeholder="请输入base64文本"
        ></textarea>
      </div>
       <div class="form-group">
          <label for="inputtext">解密后文本：</label>
          <textarea name="" id="outputtext" cols="100" rows="20" class="form-control adjust-item" ></textarea>
      </div>
      <input
        class="btn btn-primary adjust-item"
        id="opersubmit"
        type="submit"
        value="提交"
      />
    </form>
    <script src="/js/bootstrap/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script>
      function base64_encode(file) {
        // read binary data
        var bitmap = fs.readFileSync(file);
        // convert binary data to base64 encoded string
        return new Buffer(bitmap).toString("base64");
      }

      // function to create file from base64 encoded string
      function base64_decode(base64str, file) {
        // create buffer object from base64 encoded string, it is important to tell the constructor that the string is base64 encoded
        var bitmap = new Buffer(base64str, "base64");
        // write buffer to file
        fs.writeFileSync(file, bitmap);
        console.log(
          "******** File created from base64 encoded string ********"
        );
      }
      function base64_file(base64str, file) {
        var bitmap = new Buffer(base64str);
        fs.writeFileSync(file, bitmap);
        console.log("******** base64 encoded string ********");
      }
      $(document).ready(function() {
        $("#transfertype")
          .change(function() {
            $(".form-group").hide();
            $(".adjust-item").hide();
            $("#transfertype")
              .parent(".form-group")
              .show();
            var sv = $(this)
              .children("option:selected")
              .val();
            switch (sv) {
              case "download":
                $("#filename")
                  .show()
                  .parent(".form-group")
                  .show();
                $("#inputUseName1")
                  .show().removeAttr("readonly")
                  .parent(".form-group")
                  .show();
                $("#opersubmit").show();
                break;
              case "tobase64":
                $("#fileopen")
                  .show()
                  .parent(".form-group")
                  .show();
                $("#inputUseName1")
                  .show().attr("readonly",true)
                  .parent(".form-group")
                  .show();
                break;
              case "base64totext":
                $("#inputUseName1").show().removeAttr("readonly").bind("input",function(){
                    $("#outputtext").val(atob($(this).val()));
                }).parent(".form-group").show();
                $("#outputtext").attr("readonly",true).show().parent(".form-group").show();
              break;
              case "texttobase64":
                $("#inputtext").show().removeAttr("readonly").bind("input",function(){
                    $("#inputUseName1").val(btoa($(this).val()));
                }).parent(".form-group").show();
                $("#inputUseName1").attr("readonly",true).show().parent(".form-group").show();
              break;
            }
          })
          .trigger("change");
        $("#fileopen").change(function() {
            var filereader = new FileReader();
            if(!filereader){
                $("#notice_msg").text("你的浏览器不支持文件转换! ");
                return true;
            }
            filereader.onload = function(e){
                $("#inputUseName1").val(btoa(e.target.result));
            }
            filereader.readAsBinaryString(this.files[0]);
        });
      });
    </script>
  </body>
</html>
