<html>
  <header>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title data-tf="@head_title"></title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  </header>
  <body>
    <h1>javascript工具</h1>
    <div class="alert alert-info alert-dismissible fade show" id="notice_bar">
        <p data-tf="@notice" id="notice"></p>
        <button class="close" data-dismisse="alert" aria-label="close">
            <span aria-hidden="true">x</span>
        </button>
    </div>
     <div class="alert alert-danger alert-dismissible fade show" id="error_bar">
        <p data-tf="@error" id="error"></p>
        <button class="close" data-dismisse="alert" aria-label="close">
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <div
      class="btn-group btn-group-lg type-group"
      id="tool-group"
      role="group"
      aria-label="javascript工具类型"
    >
      <button class="btn-primary btn" type="button" name="base64-tool">
        base64相关
      </button>
      <button class="btn-light btn" type="button" name="json-tool">
        json相关
      </button>
    </div>
    <form action="" data-tf="@entry_login" method="post" name="json-tool">
      <div class="form-group">
        <label for="jsonOperType"> 请选择转换类型 </label>
        <select name="jstools[type]" class="form-control" id="jsonOperType">
          <option value="jsonformat" selected = "selected"> json 格式优化</option>
          <option value="jsoncompress">json 压缩</option>
        </select>
      </div>
      <div class="form-group">
        <label for="jsontext">json&nbsp;文本</label>
        <textarea
         wrap="off"
          name="jstools[jsontext]"
          id="jsontext"
          cols="100"
          rows="20"
          class="form-control adjust-item"
           style="overflow:auto;"
        ></textarea>
      </div>
      <input id="jsonsubmit" type="submit" class="btn btn-primary adjust-item" value="提交" />
    </form>
    <form data-tf="@entry_login" method="post" name="base64-tool">
      <div class="form-group">
        <label for="transfertype">方法: </label>
        <select class="form-control" name="jstools[type]" id="transfertype">
          <option value="download">base64->文件</option>
          <option value="tobase64">文件-->base64</option>
          <option value="texttobase64" selected = "selected">base64加密</option>
          <option value="base64totext">base64解密</option>
        </select>
      </div>
      <div class="form-group">
        <label for="filename">文件名：</label>
        <input
          type="text"
          class="form-control adjust-item"
          name="jstools[filename]"
          id="filename"
        />
        <input
          type="file"
          class="form-control-file adjust-item"
          name="openfile"
          id="fileopen"
        />
      </div>
      <div class="form-group">
        <label for="inputtext">待加密文本：</label>
        <textarea
         wrap="off"
          name=""
          id="inputtext"
          cols="100"
          rows="20"
          class="form-control adjust-item"
           style="overflow:auto;"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="InputUsename1 adjust-item">base64文本: </label>
        <textarea
         wrap="off"
          id="inputUseName1"
          class="form-control"
          rows="20"
          cols="100"
          name="jstools[base64]"
          placeholder="请输入base64文本"
           style="overflow:auto;"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="inputtext">解密后文本：</label>
        <textarea
         wrap="off"
          name=""
          id="outputtext"
          cols="100"
          rows="20"
          class="form-control adjust-item"
           style="overflow:auto;"
        ></textarea>
      </div>
      <input
        class="btn btn-primary adjust-item"
        id="opersubmit"
        type="submit"
        value="提交"
      />
    </form>
    <script src="/js/bootstrap/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script>
      function Str2Base64(){
        return btoa(unescape(encodeURIComponent(str)));
      }
      function Base642Str(str){
        return decodeURIComponent(escape(atob(str)));
      }
      function base64_encode(file) {
        // read binary data
        var bitmap = fs.readFileSync(file);
        // convert binary data to base64 encoded string
        return new Buffer(bitmap).toString("base64");
      }

      // function to create file from base64 encoded string
      function base64_decode(base64str, file) {
        // create buffer object from base64 encoded string, it is important to tell the constructor that the string is base64 encoded
        var bitmap = new Buffer(base64str, "base64");
        // write buffer to file
        fs.writeFileSync(file, bitmap);
        console.log(
          "******** File created from base64 encoded string ********"
        );
      }
      function base64_file(base64str, file) {
        var bitmap = new Buffer(base64str);
        fs.writeFileSync(file, bitmap);
        console.log("******** base64 encoded string ********");
      }
      $(document).ready(function() {
        if($("#notice").text().length==0)$("#notice_bar").hide();
        if($("#error").text().length==0)$("#error_bar").hide();
        $("#transfertype").change(function() {
          $(".form-group").hide();
          $(".adjust-item").hide();
          $("#transfertype")
            .parent(".form-group")
            .show();
          var sv = $(this)
            .children("option:selected")
            .val();
          switch (sv) {
            case "download":
              $("#filename")
                .show()
                .parent(".form-group")
                .show();
              $("#inputUseName1")
                .show()
                .removeAttr("readonly")
                .parent(".form-group")
                .show();
              $("#opersubmit").show();
              break;
            case "tobase64":
              $("#fileopen")
                .show()
                .parent(".form-group")
                .show();
              $("#inputUseName1")
                .show()
                .attr("readonly", true)
                .parent(".form-group")
                .show();
              break;
            case "base64totext":
              $("#inputUseName1")
                .show()
                .removeAttr("readonly")
                .bind("input", function() {
                  $("#outputtext").val(Base642Str($(this).val()));
                })
                .parent(".form-group")
                .show();
              $("#outputtext")
                .attr("readonly", true)
                .show()
                .parent(".form-group")
                .show();
              break;
            case "texttobase64":
              $("#inputtext")
                .show()
                .removeAttr("readonly")
                .bind("input", function() {
                  $("#inputUseName1").val(Str2Base64($(this).val()));
                })
                .parent(".form-group")
                .show();
              $("#inputUseName1")
                .attr("readonly", true)
                .show()
                .parent(".form-group")
                .show();
              break;
          }
        });
        $("#jsonOperType").change(function() {
          $(".form-group").hide();
          $(".adjust-item").hide();
          $("#jsonOperType")
            .parent(".form-group")
            .show();
          var sv = $(this)
            .children("option:selected")
            .val();
          switch(sv){
            case "jsonformat":
             $("#jsontext")
                .removeAttr("readonly")
                .show()
                .parent(".form-group")
                .show();
            $("#jsonsubmit").show();
            break;
            case "jsoncompress":
              $("#jsontext")
                .removeAttr("readonly")
                .show()
                .parent(".form-group")
                .show();
            $("#jsonsubmit").show();
            break;
          }
        });
        $("#fileopen").change(function() {
          var filereader = new FileReader();
          if (!filereader) {
            $("#notice_msg").text("你的浏览器不支持文件转换! ");
            return true;
          }

          filereader.onload = function(e) {
            $("#inputUseName1").val(Str2Base64(e.content || e.target.result));
          };
          filereader.readAsBinaryString(this.files[0]);
        });
        if (!FileReader.prototype.readAsBinaryString) {
          FileReader.prototype.readAsBinaryString = function(fileData) {
            var binary = "";
            var pt = this;
            var reader = new FileReader();
            reader.onload = function(e) {
              var bytes = new Uint8Array(reader.result);
              var length = bytes.byteLength;
              for (var i = 0; i < length; i++) {
                binary += String.fromCharCode(bytes[i]);
              }
              //pt.resut  - readonly so assign binary
              pt.content = binary;
              pt.onload(pt);
            };
            reader.readAsArrayBuffer(fileData);
          };
        }
        $tool_group_btn = $("#tool-group .btn");
        $tool_group_btn
          .click(function() {
            $this = $(this);
            var group_name = $this.attr("name");
            $tool_group_btn.removeClass("btn-primary").addClass("btn-light");
            $this.removeClass("btn-light").addClass("btn-primary");
            $("form")
              .hide()
              .filter("[name=" + group_name + "]")
              .show()
              .find("select")
              .trigger("change");
          }).filter("[name=base64-tool]")
          .trigger("click");
          $("#jsonsubmit").click(function(){
            submit.apply(this,[$("#jsontext")]);
            return false;
          })
      });
      var test;
       function submit(tarobj) {
            $.ajax({
            //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "text",//预期服务器返回的数据类型
                url: $(this).parent("form").attr("action") ,//url
                data: $(this).parent("form").serialize(),
                success: function (result) {
                  tarobj.val(result);
                },
                error : function() {
                    alert("表单提交异常! ");
                }
            });
        }
    </script>
  </body>
</html>
